@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Inter";
    margin: 0px;
    height: 100dvh;
}

header,
main,
footer{
    width: 100dvw;
    background-color: rgb(145, 146, 146);
}

/*===== header =====*/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background: none;
    box-shadow: 0px -18px 34.6px black;
}

header .box-cabecalho{
    margin: 0px 20px;
    display: flex;
}

header .box-cabecalho img{
    width: 100px;
    background: none;
}

header .box-cabecalho .menu-sanduiche{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 30px;
    height: 25px;
}

header .box-cabecalho
.menu-sanduiche .line-menu-sanduiche{
    width: 25px;
    height: 4px;
    background-color: rgb(23, 23, 79);
}

header .box-cabecalho nav ul{
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

header .box-cabecalho nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: #2a57a3;
}

header .box-cabecalho nav ul a:hover{
    background-color: #2a57a3;
    color: white;
}

/*====== main =====*/
main{
    height: 1000px;
}

main .box-main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100vw;
    height: 100%;
    background-image: url(../../prototipo-site/treino/images/background-home.png);
    background-size: cover;
}

main .box-main .campo-box-main{
    width: 100vw;
    height: 45%;
    display: flex;
}

main .box-main .campo-box-main.primeiro{
    font: normal 35px "Inter";
    font-weight: 600;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    color: white;
}

main .box-main .campo-box-main.segundo{
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    color: white;
    font-size: 1em;
    font-weight: 200;
    line-height: 25px;
    text-align: justify;
}
main .box-main .campo-box-main.segundo a input{
    background: none;
    border:0.5px solid white;
    margin-top: 40px;
    padding: 10px;
    font-family: "Inter";
    font-weight: 300;
    font-size: 8px;
    letter-spacing: 2px;
    color: white;
}

main .box-main .campo-box-main.segundo a input:hover{
    background-color: white;
    color: #2a57a3;
}
/*===== footer =====*/
footer{
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100px;
}

footer .box-footer{
    width: 100dvw;
    height: 100px;
    background-color: #2a57a3;

}

footer .box-footer.primeiro{
    font-size: 6px;
    color: white;
    padding: 30px;
}

@media (min-width: 600px){
    
    main .box-main
    .campo-box-main.primeiro{
        font-size: 60px;
        padding: 0px 50px;
    }
    
    main .box-main .campo-box-main.segundo{
        font-size: 30px;
        line-height: 60px;
        padding-top: 0px;
        padding: 0px 50px 50px 50px;
    }
    main .box-main
    .campo-box-main.segundo
    a input{
        width: 200px;
        font-size: 20px;
    }
}

@media (min-width: 1000px){
    
    main .box-main
    .campo-box-main.primeiro,
    main .box-main
    .campo-box-main.segundo{
        margin: 0px 100px;
    }
    main .box-main
    .campo-box-main.segundo{
        width: 600px;
        padding-right: 0px;
    }

    main .box-main
    .campo-box-main.primeiro{
        width: 831px;
        
    }

    header .box-cabecalho img{
        width: auto;
        height: 70px;
    }

    header .box-cabecalho 
    .menu-sanduiche{
        display: none;
    }
}

@media (max-width: 999px){
    header .box-cabecalho nav{
        display: none;
    }
}