@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Inter";
    margin: 0px;
    height: 100dvh;
}

/*============ MAIN ==============*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
}
main .box-main.titulo{
    display: flex;
    justify-content: start;
    align-items: center;
    line-height: 30px;
    width: 80%;
    height: 50px;
    margin: 20px 0px;
}

main .box-main.titulo h1{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
}
#nome-trabalhista-roxo{
    color: #2a57a3;
    padding-left: 10px;
}

main .box-main.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6),
     rgba(0, 0, 0, 0.6)), 
     url(/images/departamento_pessoal.png);
    background-size: cover;
}

main .box-main.container
.atividade-container{
    display: flex;
    align-items: center;
    width: 80%;
    height: 10%;
}

main .box-main.container 
.atividade-container img{
    width: 10px;
    height: 10px;
}

main .box-main.container
.atividade-container p{
    color: white;
    font-weight: 100;
    padding-left: 30px;
    font-size: 13px;
    text-align: justify;
}
/*============ FOOTER ==============*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-top: 30px;
    background-color: #2a57a3;
}
footer .box-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal 8px "Inter";
    color: white;

}
footer .box-footer .endereco{
    flex: 1;
    padding: 10px 2px;
    width: 40%;
    text-align: end;
    font: normal 6px "Inter";
    color: white;
    letter-spacing: 1px;
}

footer .box-footer .line-division{
    width: 1px;
    margin: 0px 10px;
    height: 70%;
    background-color: white;
}

footer .box-footer .redes-sociais{
    padding: 0px 2px;
    flex: 1;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


footer .box-footer .redes-sociais img{
    width: 20px;
    height: 20px;
}
/*============ MEDIA QUERIES ===========*/


@media (min-width: 750px){
    
    main .box-main.titulo h1{
        display: flex;
        flex-wrap: wrap;
        font-size: 30px;
    }
    
    
    main .box-main.container{
        flex-direction: row;
        flex-wrap: wrap;
        height: 70%;
    }
    
    main .box-main.container
    .atividade-container{
        width: 40%;
    }
    main .box-main.container
    .atividade-container p{
        font-size: 20px;
    }


    footer{
        height: 230px;
    }

    footer .box-footer .endereco{
        flex: 1;
        padding: 6px 2px;
        width: 40%;
        text-align: end;
        font: normal 10px "Inter";

    }
}