@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Inter";
    margin: 0px;
    height: 100dvh;
}


/*========== MAIN ==============*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
}

main .container{
    width: 100dvw;
}

main .titulo-container{
    display: flex;
    justify-content: start;
    align-items: center;
    line-height: 20px;
    width: 80%;
    height: 50px;
    margin: 20px 0px;
}

main .titulo-container h1{
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
}
#nome-trabalhista-roxo{
    color: #4B3986;
    padding-right: 10px;
}

main .container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60dvh;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6),
     rgba(0, 0, 0, 0.6)), 
     url(/images/imposto_renda.png);
    background-size: cover;
}


main .container .box-atividade{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 25%;
    background-color: white;
    border-radius: 5px;
}

main .container .box-atividade
.icone-box-atividade{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


main .container .box-atividade
.icone-box-atividade img{
    margin: 0px 5px;
    width: 40px;
}


main .container .box-atividade 
.descricao-atividade{
    font: normal 14px "Inter";
    text-align: center;
    font-weight: 700;
    padding: 10px;
    color: #2a57a3;
}
/*=========== MEDIA QUERIES =========*/


@media (min-width: 750px){
    
    main .titulo-container h1{
        display: flex;
        flex-wrap: wrap;
        font-size: 30px;
        line-height: 30px;
        width: 80%;
    }

    main .container{
        flex-direction: row;
        height: 70%;
    }
    

    main .container .box-atividade{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 200px;
        height: 234px;
        background-color: white;
        border-radius: 5px;
    }

    main .container .box-atividade 
    .descricao-atividade{
    font: normal 20px "Inter";
    font-weight: 700;
    padding: 10px;
}   
    main .container .box-atividade
    .icone-box-atividade img{
    margin: 0px 5px;
    width: px;
}

}

