@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Inter";
    margin: 0px;
    height: 100dvh;
}

header,
main,
footer{
    width: 100dvw;
}

/*===== header =====*/



/*========= MAIN ========*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #102345;
    height: 1000px;
}

main .box-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 80dvh;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
}
main .box-main a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    text-decoration: none;
    color: white;
}
main .box-main a .card-servico{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 80%;
    margin: 10px 0px;
    border-radius: 2px;
}

/*--- CONFIGURAÇÃO DOS CARDS REFERENTES AOS SERVIÇOS (COR DO BACKGROUND) --*/
main .box-main .card-servico.trabalhista{
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)),
    url(../images/departamento_pessoal.png);
    background-size: cover;
   }

main .box-main .card-servico.trabalhista:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.87),
     rgba(0, 0, 0, 0.87)),
     url(../images/departamento_pessoal.png);
   }


main .box-main .card-servico.empresarial{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)),
    url(../images/departamento_empresarial.png);
    background-size: cover;
}

main .box-main .card-servico.card-servico.empresarial:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.87),
     rgba(0, 0, 0, 0.87)), 
     url(../images/departamento_empresarial.png);
}

main .box-main .card-servico.imposto{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)),
    url(../images/imposto_renda.png);
    background-size: cover;
}


main .box-main .card-servico.card-servico.imposto:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.87),
     rgba(0, 0, 0, 0.87)),
     url(../images/imposto_renda.png);
}

/*------------ CONFIGURAÇÃO TÍTULOS E TEXTOS (CARDS)------*/
main .box-main .card-servico.card-servico.trabalhista
.titulo-campo-card-servico-trabalhista{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    font-size: 25px;
    margin: 0px 10px;
}

main .box-main .card-servico.card-servico.trabalhista
.texto-campo-card-servico-trabalhista{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    font-size: 12px;
    font-weight: 200;
    padding: 0px 20px;
}


main .box-main .card-servico.card-servico.empresarial
.titulo-campo-card-servico-empresarial{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    font-size: 25px;
}

main .box-main .card-servico.card-servico.card-servico.empresarial
.texto-campo-card-servico-empresarial{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    font-size: 12px;
    font-weight: 200;
    padding: 0px 20px;
}


main .box-main .card-servico.card-servico.imposto
.titulo-campo-card-servico-imposto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    font-size: 25px;
    margin: 0px 20px;
}

main .box-main .card-servico.card-servico.card-servico.imposto
.texto-campo-card-servico-imposto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    font-size: 12px;
    font-weight: 200;
    padding: 0px 20px;
}


/*======== MEDIA QUERIES ========*/
@media (min-width: 1000px){
    header .box-cabecalho img{
        width: auto;
        height: 70px;
    }

    header .box-cabecalho 
    .menu-sanduiche{
        display: none;
    }

    main .box-main{
        flex-direction: row;
        font-size: 25px;
    }
    main .box-main a{
        margin: 0px 20px;
    }

    main .box-main a .card-servico{
        height: 100%;
    }

    #titulo-trabalhista,
    #titulo-empresarial,
    #titulo-imposto{
        align-items: end;
    }
    
}

@media (max-width: 999px){
    header .box-cabecalho nav{
        display: none;
    }
}

@media (min-width: 100px) and (max-width: 500px){
    main .box-main .card-servico.card-servico.trabalhista
.titulo-campo-card-servico-trabalhista{
    font-size: 10px;
    margin: 0px 10px;
}

main .box-main .card-servico.card-servico.trabalhista
.texto-campo-card-servico-trabalhista{
    font-size: 5px;
    margin: 0px 10px;
}


main .box-main .card-servico.card-servico.empresarial
.titulo-campo-card-servico-empresarial{
    font-size: 10px;
}

main .box-main .card-servico.card-servico.card-servico.empresarial
.texto-campo-card-servico-empresarial{
    font-size: 5px;
    font-weight: 200;
}


main .box-main .card-servico.card-servico.imposto
.titulo-campo-card-servico-imposto{
    font-size: 10px;
}

main .box-main .card-servico.card-servico.card-servico.imposto
.texto-campo-card-servico-imposto{
    font-size: 5px;
    font-weight: 200;
}
}
