@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Inter";
    margin: 0px;
    height: 100dvh;
}

header,
main,
footer{
    width: 100dvw;
}

/*===== header =====*/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background: none;
}

header .box-cabecalho{
    margin: 0px 20px;
    display: flex;
}

header .box-cabecalho img{
    width: 100px;
    background: none;
}

header .box-cabecalho .menu-sanduiche{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 30px;
    height: 25px;
}

header .box-cabecalho
.menu-sanduiche .line-menu-sanduiche{
    width: 25px;
    height: 4px;
    background-color: rgb(23, 23, 79);
}

header .box-cabecalho nav ul{
    padding: 0px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

header .box-cabecalho nav ul a{
    padding: 10px 20px;
    list-style: none;
    text-decoration: none;
    color: #3B3748;
}

header .box-cabecalho nav ul a:hover{
    background-color: #3B3748;
    color: white;
}
/*========= MAIN ========*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3B3748;
    height: 1000px;
}

main .box-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 80dvh;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
}

main .box-main .card-servico{
    margin: 10px 0px;
    width: 100%;
    height: 200px;
    border-radius: 2px;
}

main .box-main .card-servico.trabalhista{
    background-image: url(/images/departamento_pessoal.png);
    background-size: cover;
    
}

main .box-main .card-servico.empresarial{
    background-image: url(/images/departamento_empresarial.png);
    background-size: cover;
    
}



/*======== MEDIA QUERIES ========*/
@media (min-width: 1000px){
    header .box-cabecalho img{
        width: auto;
        height: 70px;
    }

    header .box-cabecalho 
    .menu-sanduiche{
        display: none;
    }
}

@media (max-width: 999px){
    header .box-cabecalho nav{
        display: none;
    }
}